/* header styles */

.header {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-items: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(40, 40, 40);
  z-index: 1;
}

.home-button {
  position: absolute;
  top: 5px;
  right: 5px;
  margin: 10px;
  height: 60%;
  background-color: rgb(60, 60, 60);
  border: solid 0px;
  border-radius: 6px;
  color: white;
  font-size: 18px;
}

#openbtn {
  position: absolute;
  top: 5px;
  left: 5px;
  margin: 10px;
  height: 60%;
  background-color: rgb(60, 60, 60);
  border: solid 0px;
  border-radius: 6px;
  color: white;
  font-size: 14px;
  white-space: nowrap;
  width: auto;
  padding: 0 5px 0 5px;
}

/* sidebar styles */

.sidebar {
  background-color: rgb(40, 40, 40);
  width: 0px;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 70px;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: auto;
  white-space: nowrap;
  transition: width 0.3s;
  overflow-x: hidden;
}

.subjects-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  row-gap: 5px;
}

.subject {
  font-size: 19px;
  font-family: Roboto, Arial;
  font-weight: 600;
  color: white;
  text-decoration: none;
  background-color: rgb(60, 60, 60);
  height: 100px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subject :hover {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
  margin: 0;
  scroll-behavior: smooth;
  padding-right: 5px;
  margin-right: 5px;
  background-color: rgb(40, 40, 40);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(70, 70, 70);
  margin: 1px;
  border-radius: 4px;
}